body {
  width: 60%;
  display: block;
  margin: 0 auto;
  font-family: "Barlow", sans-serif;

}

.card-all {
  margin-top: 30px;
  border-radius: 13px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.card-search-bar {
  padding: 40px 0 40px 0;
  margin-left: 20px;
  line-height: 30px;
}
.search-button {
  border-radius: 5px;
  background-color: #173f7f;
  transition: 200ms ease-in-out;
}
.search-button:hover {
  background-color: #8ec5fc;
}
.location-button {
  border-radius: 5px;
  background-color: #173f7f;
  color: rgb(195, 194, 194);
  transition: 200ms ease-in-out;
}
.location-button:hover {
  background-color: #8ec5fc;
  cursor: pointer;
}
h1 {
  font-size: 30px;
  margin-left: 20px;
}

h2 {
  position: relative;
  top: -70px;
  right: -200px;
}
.units {
  font-size: 16px;
  position: relative;
  top: -10px;
}
.extra-details {
  list-style: none;
  display: block;
  font-size: 16px;
}
.weekly-forecast {
  font-size: 16px;
  text-align: center;
  margin-top: -50px;
  padding-bottom: 20px;
}

.weather-forecast-date {
  color: rgb(70, 36, 133);
  font-size: 16px;
  border-left: 20px;
 ;

}
.coder {
  font-size: 15px;
  color: #5e6164;
  font-family: "Barlow", sans-serif;
  padding-top: 10px;
}
